<div class="bg-dark-blue pa4">

  <div clas="flex">

    {{link-to "Cards" "index"
      class="mr4 f4 white"}}

    <a href="http://localhost:7357/"
      class="mr4 f4 white"
      >Tests</a>

    <a href="https://github.com/embermap/acceptance-testing-training"
      class="mr4 f4 white"
      >Source</a>

    <a href="https://embermap.com"
      class="mr4 f4 white"
      >EmberMap</a>

  </div>
</div>
