<div class="flex">

  {{#draggable-group as |draggable|}}
    {{#each model as |list|}}

      <div class="mr3">
        {{show-list list=list draggable=draggable}}
      </div>

    {{/each}}
  {{/draggable-group}}
</div>
